<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.GameMapper">

<!-- 콘솔게임 카테고리1 -->
	<select id="selectConsole1" resultType="GameCategory1VO">
	<![CDATA[
		select * from category
		where idx < 4
	]]>
	</select>
	
<!-- 게임 리스트 조회 -->
	<select id="selectGameList" resultType="GameListVO">
		select g.title, g.price, g.board_idx, g.category3_idx, g.category2_idx, g.state, g.status, b.like_count, b.email, 
	(select full_name from file_list
    where board_idx = b.idx
    limit 1) as full_name
		from board b, game g
		where b.idx = g.board_idx
	</select>


<!-- 콘솔게임 카테고리2 -->
	<select id="selectConsole2" resultType="GameCategory2VO">
	<![CDATA[
		select idx, name2 from category2
		where category_idx < 4
	]]>
	</select>
	
<!-- 장르 조회 -->
	<select id="selectGenre" resultType="GenreVO">
		select * from genre
	</select>
</mapper>
