<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.GameMapper">

<!-- 게임 조회 -->
	<select id="selectGame" resultType="GameDTO">
		select c2.name2, c3.name3, g.status, g.state, g.price, g.sale_complete
		from game g, category2 c2, category3 c3, game_classification gc
		where board_idx = #{boardIdx}
        and gc.category2_idx = c2.idx
        and gc.category3_idx = c3.idx
        and g.game_classification_idx = gc.idx
	</select>
	
<!-- 게임 추가 -->
	<insert id="insertGame">
		insert into game (price, board_idx, status, state, game_classification_idx)
		values (#{price}, LAST_INSERT_ID(), #{status}, #{condition}, #{gameClassificationIdx})
	</insert>
	
<!-- 게임 수정 -->
	<update id="updateGame">
		UPDATE game SET price = #{price}, status = #{status}, state = #{condition}, game_classification_idx = #{gameClassificationIdx}, sale_complete = #{saleComplete}
		WHERE board_idx = #{boardIdx}
	</update>
	
<!-- 게임 삭제 -->
	<delete id="deleteGame">
		delete from game where board_idx = #{boardIdx}
	</delete>

<!-- 콘솔게임 카테고리1 -->
	<select id="selectConsole1" resultType="GameCategory1VO">
	<if test="categoryIdx == 0">
	<![CDATA[
		select idx as category_idx, name, image from category
		where idx < 4
	]]>
	</if>
	<if test="categoryIdx == 1">
	<![CDATA[
		select idx as category2_idx, category_idx, name2, image from category2
		where idx < 5
	]]>
	</if>
	
	<if test="categoryIdx == 2">
	<![CDATA[
		select idx as category2_idx, category_idx, name2, image from category2
		where idx > 4 and idx < 8
	]]>
	</if>
	
	<if test="categoryIdx == 3">
	<![CDATA[
		select idx as category2_idx, category_idx, name2, image from category2
		where idx > 7 and idx < 10
	]]>
	</if>
	</select>
	
<!-- 게임 리스트 조회 -->
	<select id="selectGameList" resultType="GameListVO">
		select b.title, g1.price, g1.board_idx, gc.category3_idx, gc.category2_idx, g1.state, g1.status, g1.sale_complete, b.like_count, b.email, 
			(select full_name from file_list where board_idx = b.idx limit 1) as full_name
	    <if test="categoryIdx == 0">
			from board b, game g1, game_classification gc
			where b.idx = g1.board_idx
			and g1.game_classification_idx = gc.idx
		</if>
		<if test="categoryIdx != 0">
			<if test="category2Idx == 0">
				from game g1, board b, category2 c2, game_classification gc
				where b.idx = g1.board_idx
				and gc.category2_idx = c2.idx
				and c2.category_idx = #{categoryIdx}
				and gc.idx = g1.game_classification_idx
			</if>
			<if test="category2Idx != 0">
				from game g1, board b, category2 c2, game_classification gc
				where b.idx = g1.board_idx
				and gc.category2_idx = c2.idx
				and c2.category_idx = #{categoryIdx}
				and c2.idx = #{category2Idx}
				and gc.category3_idx = #{category3Idx}
    			and gc.idx = g1.game_classification_idx
			</if>
		</if>
		order by g1.idx desc
	</select>
	
<!-- 특정 콘솔 카테고리 -->
	<select id="selectCertainConsoleCategory" resultType="GameCategory2VO">
		select * from category2
		where category_idx = #{categoryIdx}
	</select>
<!-- 콘솔게임 카테고리2 -->
	<select id="selectConsole2" resultType="GameCategory2VO">
	<![CDATA[
		select idx, name2 from category2
		where category_idx < 4
	]]>
	</select>
	
<!-- 장르 조회 -->
	<select id="selectGenre" resultType="GenreVO">
		select * from genre
	</select>
	
<!-- 모든 콘솔 필터 조회 -->
	<select id="selectAllCategory2" resultType="GameCategory2VO">
	<![CDATA[
		select idx as category2_idx, name2 from category2
		where idx < 10;
	]]>
	</select>
	
<!-- 모든 분품 필터 조회 -->
	<select id="selectAllCategory3" resultType="GameCategory3VO">
		select idx as category3_idx, name3 from category3
		order by idx asc
	</select>
	
<!-- ajax 게임 리스트 -->
	<select id="ajaxGameList" resultType="GameListVO">
		select b.title, g1.price, g1.board_idx, gc.category3_idx, gc.category2_idx, g1.state, g1.status, g1.sale_complete, b.like_count, b.email, 
			(select full_name from file_list where board_idx = b.idx limit 1) as full_name
		from game g1, board b, category2 c2, game_classification gc
		where b.idx = g1.board_idx
		and gc.category2_idx = c2.idx
		and c2.idx = #{category2Idx}
		and gc.category3_idx = #{category3Idx}
    	and gc.idx = g1.game_classification_idx
		order by g1.idx desc
	</select>
	
<!-- ajax 게임 제목 -->
	<select id="ajaxGameTitle" resultType="String">
		SELECT title FROM game_classification
		where title like CONCAT('%', #{title}, '%')
	</select>
	
<!-- 모든 게임 제목 조회 -->
	<select id="selectGameTitle" resultType="GameClassificationVO">
		select * from game_classification
	</select>
	
<!-- GameClassificationIdx 조회 -->
	<select id="selectGameClassificationIdx" resultType="int">
		select idx from game_classification
		where title = #{title}
	</select>
	
<!-- 키워드 검색 게임 리스트 -->
	<select id="selectSearchGameList" resultType="GameListVO">
		select b.title, g1.price, g1.board_idx, gc.category3_idx, gc.category2_idx, g1.state, g1.status, g1.sale_complete, b.like_count, b.email, 
			(select full_name from file_list where board_idx = b.idx limit 1) as full_name
			from board b, game g1, game_classification gc, user u
			where b.idx = g1.board_idx
			and u.idx = b.user_idx
			and g1.game_classification_idx = gc.idx
            and ${searchType} like CONCAT('%', #{keyword}, '%')
	</select>
</mapper>
